// @import "compass/reset";
@import "../variables/variables";

@import "compass/layout";
@import "compass/css3";
@import "../bourbon/_bourbon";


$pusher-height:100px;

$gw-column:50px;
$gw-gutter:100px;


body{margin: 0; padding: 0;}

/* --- HTML 5 Fix --- */
section, article, header, footer, nav, aside, hgroup, main{
	display: block

}
  

@include sticky-footer($pusher-height, ".wrapper", ".pusher", ".footer");


.wrapper{width: 980px; margin-left: auto; margin-right: auto}
 



 button{
 	@include button(#fc0000)
 }


.qw { 
  margin-left: $gw-gutter;
  height: 200px;  
  @include background(linear-gradient(#525252, #ccc)); 
}  



